#bgShapes_1 {
    size: 10vh;
    /* object-fit: cover; */
    min-width: 60vw;
    max-height: 100vh;
}
#bgShapes_2 {
    size: 10vh;
    /* object-fit: cover; */
    min-width: 120vw;
    max-height: 150vh;
}
.bg_Container {
    z-index: 2;
    /* width: fit-content; */
    /* height: fit-content; */
    position: relative;
    overflow: visible;
    opacity: 30%;
    mix-blend-mode: color-burn;
}

#Layer_1 {
    opacity: 100;
}

@media (prefers-reduced-motion: no-preference) {
    #bgShapes_2 {
        animation: bgShapesSpin infinite 100s linear;
    }
    #Layer_1 {
        animation: bgShapesSpin infinite 100s linear;
    }
}
@keyframes bgShapesSpin {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(20vw, 20vh) rotate(180deg);
    }
    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}

#bg_Container_1 {
    bottom: -50vmin;
    left: min(-40vw, -50vh);
}

#bg_Container_2 {
    top: -90vmin;
    right: min(-20vw, -30vh);
}

.bg_c_c {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#gradientPalette {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
